<!doctype html>
<html layout:decorator="/fragments/main">
	<head>
		<title>Libro</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
		<meta charset="UTF-8"></meta>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<div id="cuerpo" layout:fragment="contenido">
			<div id="agregar-libros" layout:fragment="agregar-libros">
			</div>
        	<div class="col-md-6 mb-4">
        		<div class="card h-100" th:each="libro:${listadoLibros}">
                	<div class="card-body">
                  		<a class="card-title" th:href="'/libros/' + ${libro.titulo}" th:text="${libro.titulo}">Libro</a>
                  		<div class="row">
                  			<a href="#" class="col-md-4"><img class="card-img" src="http://placehold.it/1300x2000" alt=""></img></a>
                  			<div class="col-md-8">
                  				<h5>Descripción</h5>
                  				<p class="card-text" th:text="${libro.descripcion}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  				<h5>Reseña</h5>
                  				<p class="card-text" th:text="${libro.resenia}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  			</div>
                  		</div>
                	</div>
            	</div>
        	</div>
        </div>
	</body>
</html>