<!doctype html>
<html>
	<head>
		<title>Registrarse</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="registro">
			<h2>Registrarse:</h2>
			<form action="/insertar-usuario" method="POST">
				<input type="text" name="nombre" placeholder="nombre..."></input>
				<input type="text" name="password" placeholder="contraseña..."></input>
				<input type="text" name="email" placeholder="email..."></input>
				<input type="submit"></input>
			</form>
		</div>
	</body>

</html>