
body{
	background-color:#e9946e;
}

#header{
	background-color:#e0cdb7;
	width:100%;
	margin:auto;
}

#header a{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	text-decoration: none;
}
.registro{
	width:450px;
	margin:auto;
	margin-top: 100px;
	background-color:grey;
	height:300px;
	text-align: center;
}

#pimiento-dulce{
	text-align: center;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 23%;
}

#header h1{
	font-family: Montserrat;
	text-align: center;
	font-size: 60px;
	letter-spacing: 10px;
	margin:15px;
	color: #524338;
}

form input{
	width:90%;
	box-sizing:border-box;
	margin:3px;
	padding:5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.card-img{
	width:100%;
}

.card-body{
	width: 400px;
}

.carousel-project-1 h4{
	text-align: center;
}


.cardnov{
	margin: auto;
	width: 49%;
}


#pimiento-dulce h1{
	font-size: 100px;
}

#cuerpo{
	background-color:#e9946e;
	padding:15px;
}


#footer{
	background-color:#3f2117;
	padding:15px;
}

#navbar{
	text-align:center;
	line-height: 50px;
	height: 50px;
	width: 100%;
	margin:auto;
	background-color: #3f2117;
}

