<!doctype html>
<html layout:decorator="listadoLibros">
	<head>
		<title>Libros</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
		<meta charset="UTF-8"></meta>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
        <div class="col-md-6 mb-4" id="agregar-libros" layout:fragment="agregar-libros">
        	<div class="card h-100">
                <form class="card-body" action="/insertar-libro" method="POST">
                  <input class="card-title" placeholder="agregar título" type="text" name="titulo" href="#"></input>
                  <div class="row">
                  	<a href="#" class="col-md-4"><img class="card-img" src="http://placehold.it/1300x2000" alt=""></img></a>
                  	<div class="col-md-8">
                  		<h5>Descripción</h5>
                  		<input placeholder="agregar descripción" type="text" name="descripcion" class="card-text"></input>
                  		<h5>Reseña</h5>
                  		<input placeholder="agregar reseña" type="text" name="resenia" class="card-text"></input>
                  		<input type="submit" value="Agregar libro"></input>
                  	</div>
                  </div>
                </form>
            </div>
        </div>
	</body>
</html>